.Footer_outer{
    /* position:sticky; */
    width:100%;
    background-color: white;
    height:900px;
    display:flex;
    flex-direction: column;
    margin-top: 1px;
    /* border:3px solid black; */
}
.Footer_inner{
    width:80%;
    height:100%;
    margin:auto;
    margin-bottom: 30px;
    

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
   
    justify-content: space-between;
    margin:auto;
    margin-top:5%;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    color:gray;
    
  }
  td{
    font-size: 13px;
  }
  td:hover{
      color:darkgray
  }
  th{
      color:rgb(252, 97, 97);   
  }
  .Footer_box{
      width:300px;
      height:90%;
      margin:auto;
      margin-top:30px;
  }