.DineOutPayCard_Container{
    background-color: #ffff;
    margin: 12px auto 12px;
    display: flex;
    align-items: center;
}

.DineOutPayCard_IMG{
    width: 260px;
    padding-right: 15px;
}

.DineOutPayCard_IMG img{
    width: 100%;
    height: 80px;
}

.DineOutPayCard_info{
    font-size: 16px;
}