.MenuRestaurant_Container {
  width: 50%;
  margin: 12px;
  margin-left: 150px;
  margin-right: 30px;
  background-color: #fff;
}

.MenuRestaurant_Head {
  font-weight: 700;
  padding: 20px 10px;
  font-size: 18px;
  text-align: center;
}

.MenuRestaurant_Img {
  width: 100px;
  margin: auto;
}

.MenuRestaurant_Img img {
  width: 100%;
}

.MenuRestaurant_Img img:hover {
  transform: scale(5);
  transition: transform 0.2s;
}

.menuNumber {
  width: 100px;
  background-color: black;
  color: #fff;
}
