.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1000000000000000000000000000000000000;
}

.flex {
  display: flex;
  justify-content: center;
  margin: 1%;
}

.navbtn {
  background-color: rgb(252, 97, 97);
  width: 100px;
  height: 35px;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600;
  margin-left:20px;
  outline:none;
  border: 1px solid rgb(252, 97, 97) ;
}

a {
  text-decoration: none;
  color: rgb(252, 97, 97);
  margin: 5px 15px;
}

.links {
  display: flex;
  justify-content: center;
  height: 50px;
}
.links>div{
  display: flex;
  justify-content: center;

}
.links>div:hover{
  font-weight:bolder;
  display: flex;
  justify-content: center;

}

.gridImg {
  width: 160px;
  height: 180px;
}

.hdfc {
  width: 80%;
  margin: 50px auto;
}

.cats {
  display: flex;
  justify-content: center;
}

.cats img {
  width: 50px;
  height: 50px;
}

.linkbtn {
  display: flex;
  background-color: rgb(236, 232, 232);
  border: 1px solid grey;
  width: 220px;
  border-radius: 5px;
  justify-content: center;
  height: 50px;
  padding: 10px;
  color: gray;
  font-size:18px;
  margin-left: 5px;
}
.linkbtn:hover{
  background-color: rgba(202, 199, 199,0.7);
}

.userInfo{
  display: flex;
  margin: 0px 5px;
}

.userInfo div{
  margin: 0 5px;
}

.userImg{
  width: 32px;
  overflow: hidden;
  border-radius: 50%;
}

.userDropDown{
  font-weight: 600;
  vertical-align: middle;
  line-height: 32px;
  position: relative;
}

.userDropDown_arrow{
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.dropDown_close{
  display: none;
}

.dropDown_open{
  display: block;
}

.dropDown{
  
}